{% extends 'base.html' %}

{% block content %}
    <h2>Вход в аккаунт</h2>
    <hr>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <center>
        <form action="{% url 'login' %}" method="post">
            {% for field in form %}
                {{ field }} <br><br>
            {% endfor %}
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Войти</button>
        </form>
    <br>
    <a class="small" href="{% url 'password_reset' %}">Забыли пароль?</a>
    </center>
{% endblock %}
