<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Main</title>
</head>
<body class="container">
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'home' %}" class="text-primary"><b>Главная страница</b></a>
    </li>
</ul>
<br>

{% block content %}
{% endblock %}

</body>
</html>